* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgba(148, 23, 23, 0.827);
}

nav .pesquisar {
  margin: 0 auto;
}

nav #Pesquisar {
  margin: 0 auto;
  width: 800px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

nav #Pesquisar2 {
  margin: 0 auto;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-right: 33px;
}

nav ul li {
  padding: 15px;
  font-size: 17px;
  font-family: sans-serif;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li .login #email::placeholder {
  font-size: 10px;
  text-align: center;
}

nav ul li .login #senha::placeholder {
  font-size: 10px;
  text-align: center;
}

nav ul li .login #email {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  margin: 0 auto;
}

nav ul li .login #senha {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  margin: 0 auto;
}

nav ul li .login button {
  margin-top: 10px;
  border: none;
  width: 180px;
  margin: 0 auto;
  margin-top: 10px;
}

.login p {
  font-size: 13px;
  padding-top: 15px;
}

.login {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  right: 20px;
  top: -50%;
  padding-bottom: 5px;
  width: 225px;
  opacity: 0;
  transition: ease-in 500ms;
}

.login.active {
  top: 72px;
  opacity: 1;
}

.car {
  position: absolute;
  background-color: #fff;
  transition: ease-in 500ms;
  z-index: 99;
  top: -75%;
  left: 0;
  text-align: center;
  border: 1px solid black;
  opacity: 0;
}

.car.active {
  top: 72px;
  opacity: 1;
}

.purchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
}

.car .purchase img {
  width: 90px;
}

.car button {
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: black;
  color: white;
  font-size: 12px;
}

.car button::hover {
  background-color: rgba(148, 23, 23, 0.827);
  z-index: 1;
}

nav .itens {
  width: 17px;
  height: 15px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

nav .itens p {
  font-size: 13px;
  font-weight: bold;
}

nav li .fa-solid {
  font-size: 17px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

ul .itens {
  text-align: center;
  font-family: sans-serif;
  color: black;
}

.carousel {
  background-color: #F05454;
}

.carousel-inner img {
  margin: 0 auto;
}

.img-promocao {
  text-align: center;
}

.instantes {
  text-align: center;
  font-weight: bold;
  margin: 40px;
}

.slick {
  width: 1200px;
  margin: 0 auto;
}

.slick-prev::before {
  content: attr();
  color: red;
}

.slick-next::before {
  content: attr();
  color: red;
  margin-bottom: 100px;
}

.prod1 {
  margin: 0 auto;
  text-align: center;
}

.prod1 .est {
  border: 1px solid rgba(191, 117, 117, 0.205);
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
}

.prod1 img {
  margin: 0 auto;
}

.prod1 button {
  border-radius: 7px;
  border: none;
  background-color: #F05454;
  font-weight: bold;
  width: 80px;
  height: 24px;
  font-size: 12px;
}

.prod1 strong {
  color: red;
}

@media (max-width: 1307px) {
  nav {
    flex-direction: column;
  }

  .slick {
    width: 80%;
    margin: 0 auto;
  }

  .slick .prod1 .est img {
    max-width: 100%;
  }

  .car.active {
    top: 122px;
    opacity: 1;
  }
}
@media (max-width: 1201px) {
  nav #Pesquisar {
    width: 400px;
  }

  .img-promocao img {
    width: 300px;
  }
}
@media (max-width: 801px) {
  .prod1 button {
    border-radius: 7px;
    border: none;
    background-color: #F05454;
    font-weight: bold;
    width: 50px;
    height: 20px;
    font-size: 9px;
  }

  nav #Pesquisar {
    width: 300px;
  }

  .carousel-inner img {
    width: 400px;
  }

  .slick .prod1 .est img {
    width: 100px;
    height: 100px;
  }

  .login.active {
    position: absolute;
    top: 122px;
    right: 190px;
    border: 1px solid black;
  }
}
@media (max-width: 623px) {
  nav ul li {
    padding: 12px;
    font-size: 13px;
    font-family: sans-serif;
  }

  .prod1 {
    width: 113px;
    height: 200px;
  }

  .slick .prod1 .est img {
    width: 80px;
    height: 80px;
  }

  nav #Pesquisar {
    width: 200px;
  }

  .login.active {
    position: absolute;
    top: 110px;
    right: 190px;
    border: 1px solid black;
  }

  .car {
    position: absolute;
    width: 250px;
    background-color: #fff;
    transition: ease-in 500ms;
    z-index: 99;
    top: -75%;
    left: 0;
    text-align: center;
    border: 1px solid black;
    opacity: 0;
  }

  .car.active {
    top: 110px;
    opacity: 1;
  }
}
@media (max-width: 453px) {
  .slick .prod1 .est p {
    font-size: 13px;
    font-weight: bold;
  }

  .carousel-inner img {
    width: 300px;
  }

  .login {
    position: absolute;
    top: 120px;
    right: 80px;
  }

  .login.active {
    position: absolute;
    top: 110px;
    right: 80px;
  }
}
@media (max-width: 380px) {
  .slick .prod1 .est p {
    font-size: 10px;
    font-weight: bold;
  }

  .login.active {
    position: absolute;
    top: 110px;
    left: 50px;
  }
}
@media (max-width: 360px) {
  .login {
    position: absolute;
    top: -122px;
    right: 190px;
  }

  .login.active {
    position: absolute;
    top: 110px;
    right: -30px;
  }
}
@media (max-width: 328px) {
  nav ul li {
    padding: 12px;
    font-size: 13px;
    font-family: sans-serif;
  }

  nav #Pesquisar {
    width: 180px;
  }

  .list {
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid black;
    transition: ease-in 500ms;
    z-index: 1;
    top: -50%;
    right: 70px;
    opacity: 0;
  }

  .list.active {
    top: 110px;
    opacity: 1;
  }

  .login.active {
    position: absolute;
    top: 111px;
  }
}

/*# sourceMappingURL=style.css.map */
